---
layout: layout
site_name: サイト名です
title: タイトルです

keywords:
 - キーワード1
 - キーワード2

styles:
 - common
 - foo/index

scripts:
 - jquery.min
 - jquery.easing.min
 - velocity
 - modernizr-2.7.1-custom.min
 - common
 - foo/index
---
foo/indexです。