---
layout: layout
site_name: サイト名です
title: タイトルです

url: "http://example.com/"
image: "http://example.com/img/common/fb_icon.jpg"

keywords:
 - キーワード1
 - キーワード2

description: 説明です

styles:
 - common
 - foo/index

scripts:
 - libs
 - modernizr-2.7.1-custom.min
 - common
 - foo/index
---
foo/indexです。